html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
body,
html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
}
h5 {
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}
.navWrapper {
  margin: auto;
  width: 60%;
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navWrapper nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navWrapper nav a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding-bottom: 1%;
  font-size: 1.4rem;
}
.navWrapper nav a:hover {
  background-color: grey;
  transition: background-color 1s;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
body {
  background-image: url("../../img/Market2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.intro {
  height: 10%;
  width: 60%;
  margin: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.intro .title {
  height: 50%;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.swiper-container {
  width: 60%;
  height: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.slide1 {
  background-image: url("../../img/food1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide2 {
  background-image: url("../../img/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide3 {
  background-image: url("../../img/food3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.btn1 {
  color: white;
}
.btn2 {
  color: white;
}
.Panel {
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 60%;
  height: 50%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Panel .Info {
  width: 50%;
  height: 90%;
  margin-top: 0.5rem;
  padding: 0.25rem;
}
.Panel .Info p {
  color: black;
  font-size: 1.5rem;
}
.midInfoImg {
  width: 50%;
  height: 90%;
  padding: 1rem;
  background-image: url("../../img/mobile.png");
  background-size: cover;
  border-radius: 1rem;
}
.midInfoImg p {
  color: black;
}
.titleAbout {
  width: 40%;
  background-color: #505050;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.titleAbout h1 {
  color: white;
}
.teamWrapper {
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  height: 100rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.teamWrapper .teamMemberWrapper {
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  background-color: #8a2d2d;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.teamWrapper .teamMemberWrapper .teamMember {
  width: 90%;
  height: 60%;
  background-color: black;
  border-radius: 1rem;
}
.git {
  font-size: 2rem;
  color: #000000;
  border: 1px solid black;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0.3rem;
  border-radius: 1rem;
}
.git:hover {
  background-color: #ffffff;
  transition: background-color 1s;
}
.Me {
  background-image: url("../../img/Me.jpg");
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
}
.Kirk {
  background-image: url("../../img/Kirk.jpg");
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
}
.Ahmad {
  background-image: url("../../img/Ahmad.jpg");
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
}
.Leon {
  background-image: url("../../img/Leon.jpg");
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
}
.Reg {
  background-image: url("../../img/Reg.png");
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
}
.Aaron {
  background-image: url("../../img/Aaron.jpg");
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
}
