body{
    background-image: url("../../img/orange2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


.intro{

    height: 10%;
    width: 60%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;

    .title{
        height: 50%;
        width: 100%;
        color: rgb(255, 124, 49);
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


.swiper-container{

    width: 60%;
    height:40%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
    .slide1{
        background-image:url("../../img/food1.jpg");
    
    }
    .slide2{
        background-image:url("../../img/food2.jpg");
        background-position: center;
    }
    .slide3{
        background-image:url("../../img/food3.jpg");
    }

.btn1{
    color: white;
}

.btn2{
    color: white;
}

.midSection{
    margin: auto;
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 1rem;
    //background-image: url("../../img/lines.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .midInfo{
        width: 90%;
        height: 25%;
        margin-top: .5rem;
        padding: .25rem;
         p{
           color: black;
           font-size: 1.5rem;
       }
    }
 }

 .midInfoImg{
    width: 90%;
    height: 40%;
    padding: 1rem;
    background-size: cover;
        p{
            color: black;
        }
 }