body{
   // background-image: url("../../img/mountain.jpg") ;
   background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


.intro{

    height: 10%;
    width: 60%;
    margin: auto;
   // background-image: url("../../img/orange3.jpg");
   background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    .title{
        height: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


.swiper-container{

    width: 60%;
    height:40%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
    .slide1{
        background-image:url("../../img/food1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .slide2{
        background-image:url("../../img/food2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
    }
    .slide3{
        background-image:url("../../img/food3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }

.btn1{
    color: white;
}

.btn2{
    color: white;
}

.Panel{
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 1rem;
    //background-image: url("../../img/lines.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .Info{
        width: 50%;
        height: 90%;
        margin-top: .5rem;
        padding: .25rem;
        
         p{
           color: black;
           font-size: 1.5rem;
       }
    }
 }

 .midInfoImg{
    width: 50%;
    height: 90%;
    padding: 1rem;
    background-image: url("../../img/mobile.png");
    background-size: cover;
    border-radius: 1rem;
    
        p{
            color: black;
        }
 }