.navWrapper{
    .displayflex(space-between,row);
    width: 35rem;
    margin: auto;
    background-color: @gold;

    @media@phone{
        display:none;
    }
    

    nav{
        .displayflex(space-evenly,row);
        width: 50rem;
        height: 2rem;
        

        a{
            .displayflex(center, row);
            border-left: 1px solid black;
            border-right: 1px solid black;
            height: 2rem;
            align-items: center;
            align-content: center;
            width: 100%;
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-weight: bold;
            font-family: 'Syncopate', sans-serif;
            &:hover{
                background-color: @gold;
                transition: background-color 1s;
                margin-top: .5rem;
            }
        }
    }


.mobileNav{
    width: 100%;
    height: 5rem;
    background-color: @Gold;
    display: flex;

    @media@phoneCutOut{
        display: none;
    }

    .navReturn{
        width: 3rem;
        height: 5rem;
        margin: 1rem;

        .navDash{
            border: solid 3px rgb(39, 39, 39);
            border-radius: 1rem;
        }

    }

}

.underNav{
    .displayflex(space-evenly,row);
    height: 8rem;
    background-color: rgb(31, 31, 31);
    align-items: center;
}
}